


<div class="col-sm-3 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="jumbotron">
		<h4>{{ 'TITLE_PROVIDERS' | translate}}</h4>
	</div>

	<div class="container-fluid">
		<form class="form-horizontal" role="form">
			<form class="form-inline">
				<a type="submit" class="btn btn-primary" ng-click="newProvider()" ng-href="#/provider"
					
					title="{{ 'NEW_USER' | translate}}">{{ 'FORM_CREATE_NEW' | translate}}</a>
			</form>
			<br />
			<legend></legend>


		</form>
	</div>

	<h2 class="sub-header"></h2>
		<button ng-click="tableParams.filter({})" class="btn btn-info center-block">{{ 'FORM_CLEAR_FILTER' | translate}}</button>
	<div class="table-responsive">

		<table ng-table="tableParams" show-filter="true" class="table ng-table-responsive">
			<tr ng-repeat="provider in $data">
				<td data-title="tableColumns['providerId']"  sortable="'providerId'" filter="{ 'providerId': 'text' }" >{{provider.providerId}}</td>
				<td data-title="tableColumns['name']"  sortable="'name'" filter="{ 'name': 'text' }">{{provider.name}}</td>
				<td data-title="tableColumns['tradeName']"  sortable="'tradeName'" filter="{ 'tradeName': 'text' }">{{provider.tradeName}}</td>
				<td data-title="tableColumns['cuit']" sortable="'cuit'" filter="{ 'cuit': 'text' }">{{provider.cuit}}</td>
				<td data-title="tableColumns['address']"  sortable="'address'" filter="{ 'address': 'text' }">{{provider.direction}}</td>
				<td data-title="tableColumns['phone']" sortable="'phone'" filter="{ 'phone': 'text' }">{{provider.telephone}} </td>
				
				<td data-title="tableColumns['actions']" style="width:10%">
				<button type="button"
						class="btn btn-warning"
						ng-click="editProvider(provider.id)"
						ng-show="true"
						title="{{ 'FORM_EDIT' | translate}} {{provider.name}}"><span class="glyphicon glyphicon-pencil" /></button>
					<button type="button" class="btn btn-danger"
						ng-show="true"
						ng-click="confirmaDeleteProvider(provider.id, provider.codigo)"
						title="{{ 'FORM_DELETE' | translate}} {{provider.name}}"><span class="glyphicon glyphicon-trash" /></button></td>
			</tr>
		</table>
	</div>
</div>

</div>
