<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="jumbotron">
		<h4>{{titulo}}</h4>
	</div>

	<div class="container-fluid">

		<div class="bs-example">
			<form name="crudOperation" class="form-horizontal" >
			
			<div class="form-group">
					<label for="inputCodigo" class="control-label col-xs-2">Código</label>
					<div class="col-xs-10">
						<input type="text" class="form-control" id="inputCode"
							ng-model="inputCode" placeholder="Ingrese el código">
					</div>
				</div>
				<div class="form-group">
					<label for="inputDate" class="control-label col-xs-2">Fecha</label>
					<div class="col-xs-10">
						<input type="date"   class="form-control" id="inputDate"
							ng-model="inputDate" 
							 >
					</div>
				</div>
				
				<div class="form-group">
					<label for="inputAmount" class="control-label col-xs-2">Monto</label>
					<div class="col-xs-10">
						<input type="number" class="form-control" id="inputAmount"
							ng-model="inputAmount" placeholder="Ingrese el monto">
					</div>
				</div>
				
				<div class="form-group">
					<label for="selectCategory" class="control-label col-xs-2">Seleccione
						la categoría</label>
					<div class="col-xs-10">
						<select ng-model="selectCategory"
							ng-options="cat as cat.description for cat in categories"
							class="form-control" >
							<option value="" label="Seleccione una opción"></option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="selectSubCategory" class="control-label col-xs-2">Seleccione
						la sub categoría</label>
					<div class="col-xs-10">
						<select ng-model="selectSubCategory"
							ng-options="cat as catsub.description for catsub in subcategories"
							class="form-control" >
							<option value="" label="Seleccione una opción"></option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="selectPaymentType" class="control-label col-xs-2">Seleccione
						el tipo de pago</label>
					<div class="col-xs-10">
						<select ng-model="selectPaymentType"
							ng-options="ptype as ptype.name for ptype in ptypes"
							class="form-control" >
							<option value="" label="Seleccione una opción"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="inputDescription" class="control-label col-xs-2">Descripción</label>
					<div class="col-xs-10">
						<input type="text" class="form-control" id="inpuftDescription"
							ng-model="inputDescription" placeholder="Ingrese la descripción">
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-2 col-xs-10">

						<button type="submit" class="btn btn-success"
							ng-show="modoRegistro()" ng-click="registerOperation()">Confirmar</button>

						<button type="submit" class="btn btn-success"
							ng-click="updateOperation()" ng-show="modoEdicion()">Actualizar</button>

						<a type="button" class="btn btn-default" ng-href="#empresas">Cancelar</a>
					</div>
				</div>
				
			</form>
		</div>
	</div>
</div>

