<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="jumbotron">
		<p class="text-center" ng-if="isOutcome">{{'TITLE_INCOME_BILL'|
			translate}}</p>
		<p class="text-center" ng-if="!isOutcome">{{'TITLE_OUTCOME_BILL'|
			translate}}</p>
		<p class="text-center"
			style="color: blue; font-size: x-large; font-family: initial; font-weight: bold;">{{letter()}}</p>
	</div>

	<div class="container-fluid">

		<div class="bs-example">
			<form name="crudOperation" class="form-horizontal">


				<div class="form-group col-xs-6 col-sm-3 col-lg-3">
					<label for="inputDate" class="control-label col-xs-3">{{'FORM_DATE'
						| translate}}</label>
					<div class="col-xs-9">
						<input type="date" class="form-control" id="inputDate"
							ng-model="inputDate" style="width: 130%" tabindex="1">
					</div>
				</div>
				<div class="pull-right form-group col-xs-12 col-sm-4 col-lg-4">
					<label for="inputBillNumber" class="control-label col-xs-3">N°</label>
					<div class="col-xs-8 ">
						<input type="number" class="form-control" id="inputBillNumber"
							ng-model="inputBillNumber" placeholder="YYYYYYYY" tabindex="3">
					</div>
				</div>
				<div class="pull-right form-group col-xs-12 col-sm-3 col-lg-3">
					<label for="inputSerie" class="control-label col-xs-3">Serie</label>
					<div class="col-xs-7 ">
						<input type="number" class="form-control" id="inputSerie"
							ng-model="inputSerie" placeholder="XXXX" tabindex="2">
					</div>
				</div>

				<br /> <br />
				<legend></legend>
				<style>strong:hover { 
    background-color: #C6C9F7</style>

				<div class="panel-group col-xs-12 col-sm-6 col-lg-12" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a  ng-if="isOutcome" href="javascript:;" data-toggle="collapse"
									data-target="#collapseTwo"> {{ 'FORM_TOGGLE_CLIENT' |
									translate}} </a> <a ng-if="!isOutcome" href="javascript:;"
									data-toggle="collapse" 
									data-target="#collapseTwo"> {{ 'FORM_TOGGLE_PROVIDER' |
									translate}} </a>
									<strong  ng-style="checkAutoload()" ng-click="toggleAutoLoading()" style="cursor:pointer;font-size: small;margin-left: 10px;">{{ 'FORM_TOGGLE_ID_PROVIDER_LOAD' |
									translate}}</strong>
									<span class="glyphicon glyphicon-ok text-success" ng-show="autoload"></span>
									<span class= "glyphicon glyphicon-remove text-danger" ng-show="!autoload"></span>
									
							</h4>
							 
							<span class= "glyphicon glyphicon-remove text-danger" ng-hide="true"></span>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse in">
							<div class="panel-body">
								<!--  Collapse provider/Client -->
								
								<div class="form-group col-xs-12 col-sm-6 col-lg-6">
									 <label for="inputClientSellerId" 
										class="control-label col-xs-3">Id</label>
									<div class="col-xs-6">
										<input type="text" class="form-control" id="inputClientSellerId"
											ng-model="inputClientSellerId" placeholder="ID"
											tabindex="4">
									</div>
								</div>
								
								<div class="form-group col-xs-12 col-sm-6 col-lg-6">
									<label for="inputClientSellerName" ng-if="isOutcome"
										class="control-label col-xs-4" style="margin-left:25px;">{{'FORM_CLIENT' |
										translate}}</label> <label for="inputClientSeller" ng-if="!isOutcome"
										class="control-label col-xs-3" style="margin-left:60px;">{{'FORM_SELLER' |
										translate}}</label>
									<div class="col-xs-6">
										<input type="text" class="form-control" id="inputClientSeller"
											ng-model="inputClientSeller" placeholder="ENTERPRISE"
											tabindex="5" >
									</div>
								</div>
								
								<div class="form-group col-xs-12 col-sm-6 col-lg-6">
									<label for="inputTradeName" 
										class="control-label col-xs-3">{{'FORM_TRADE_NAME' |
										translate}}</label> 
									<div class="col-xs-6">
										<input type="text" class="form-control" id="inputTradeName"
											ng-model="inputTradeName" placeholder="ENTERPRISE SRL"
											tabindex="6">
									</div>
								</div>

								<div class="pull-right form-group col-xs-12 col-sm-6 col-lg-6">
									<label for="inputCuit" class="control-label col-xs-3">CUIT</label>
									<div class="col-xs-6 ">
										<input type="number" ng-pattern="/^[0-9]+$/"
											class="form-control" id="inputCuit" ng-model="inputCuit"
											placeholder="CUIT" tabindex="7">
									</div>
								</div>

								<div class="pull-right form-group col-xs-12 col-sm-6 col-lg-6">
									<label for="inputPhone" class="control-label col-xs-3">{{'FORM_PHONE'
										| translate}}</label>
									<div class="col-xs-6 ">
										<input type="number" class="form-control" id="inputPhone"
											ng-model="inputPhone"
											placeholder="{{'FORM_PHONE' |
						translate}}"
											tabindex="9">
									</div>
								</div>

								<div class="form-group col-xs-12 co l-sm-6 col-lg-6">
									<label for="inputAddress" class="control-label col-xs-3">{{'FORM_ADDRESS'
										| translate}}</label>
									<div class="col-xs-6">
										<input type="text" style="width: 150%" class="form-control"
											id="inputAddress" ng-model="inputAddress"
											placeholder="{{'FORM_ADDRESS'
						| translate}}"
											tabindex="8">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a href="javascript:;" data-toggle="collapse"
									data-target="#collapseOne"> {{ 'FORM_TOGGLE_CATEGORIES' |
									translate}} </a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
								<!--  collapse categorias -->

								<div class="form-group  col-xs-12 col-sm-12 col-lg-12">
									<label for="selectCategory" class="control-label col-xs-3">{{
										'FORM_SELECT_CATEGORY' | translate}}</label>
									<div class="col-xs-8">
										<div class="form-inline">
											<div class="form-group">
												<select ng-model="categorySelected"
													ng-options="cat as cat.categoryName for cat in categories"
													ng-change="selectCategory(categorySelected)"
													class="form-control"
													style="width: 200px; margin-left: 15px;" tabindex="10">
													<option value="" label="{{ 'SELECT_OPTION' | translate}}"></option>

												</select>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-info form control"
													style="padding: 2px; margin-left: 35px;"
													ng-click="dialogNewCategory()">{{
													'FORM_NEW_CATEGORY' | translate}}</button>
											</div>
										</div>


									</div>
								</div>

								<div class="form-group  col-xs-12 col-sm-12 col-lg-12">
									<label for="selectSubCategory" class="control-label col-xs-3">{{
										'FORM_SELECT_SUBCATEGORY' | translate}}</label>
									<div class="col-xs-8">
										<div class="form-inline ">
											<div class="form-group">
												<select ng-model="subcategorySelected"
													ng-options="sub as sub.subcategoryName for sub in subCategories"
													ng-change="selectSubcategory(subcategorySelected)"
													class="form-control"
													style="width: 200px; margin-left: 15px;" tabindex="11">
													<option value="" label="{{'SELECT_OPTION' | translate}}"></option>
												</select>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-info form control"
													style="padding: 2px; margin-left: 35px;"
													ng-click="dialogNewSubcategory()">{{
													'FORM_NEW_SUBCATEGORY' | translate}}</button>

											</div>
										</div>

									</div>
								</div>

								<div class="form-group  col-xs-12 col-sm-12 col-lg-12">
									<label for="selectConcept" class="control-label col-xs-3">{{
										'FORM_SELECT_CONCEPT' | translate}}</label>
									<div class="col-xs-8">
										<div class="form-inline ">
											<div class="form-group">
												<select ng-model="conceptSelected"
													ng-options="con as con.conceptName for con in concepts"
													ng-change="selectConcept(conceptSelected)"
													class="form-control"
													style="width: 200px; margin-left: 15px;" tabindex="12">
													<option value="" label="{{ 'SELECT_OPTION' | translate}}"></option>
												</select>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-info form control"
													style="padding: 2px; margin-left: 35px;"
													ng-click="dialogNewConcept()">{{
													'FORM_NEW_CONCEPT' | translate}}</button>

											</div>
										</div>

									</div>
								</div>
								
								<div class="form-group">
					<label for="inputGeneratesOperation" class="control-label col-xs-8 " ng-style="checkGeneratesOperation()">{{
						'FORM_GENERATES_OPERATION' | translate}}</label>
					<div class="col-xs-4" >
						<input type="checkbox"  id="inputGeneratesOperation" class="" 
							ng-model="inputGeneratesOperation" style=width:20px;height:20px;">
					</div>
				</div>

							</div>
						</div>
					</div>
				</div>




<!-- 				<div class="form-group col-xs-12 col-sm-6 col-lg-6"> -->
<!-- 					<label for="selectPaymentType" class="control-label col-xs-3">{{ -->
<!-- 						'FORM_SELECT_PAYMENT_TYPE' | translate}}</label> -->
<!-- 					<div class="col-xs-6"> -->
<!-- 						<select ng-model="paymentSelected" -->
<!-- 							ng-options="ptype as ptype.name for ptype in paymentTypes" -->
<!-- 							ng-change="selectPayment(paymentSelected)" class="form-control" -->
<!-- 							tabindex="13"> -->
<!-- 							<option value="" label="{{ 'SELECT_OPTION' | translate}}"></option> -->
<!-- 						</select> -->
<!-- 					</div> -->
<!-- 				</div> -->


		<div class="form-group">
				<div ng-show="inputCashEnabled">
				
					<label for="inputCash" class="control-label col-xs-2">{{ 'FORM_CASH' | translate}}</label>
					<div class="col-xs-4">
						<input type="number" step='any'class="form-control" id="inputCash"
							ng-model="inputCash" placeholder="{{ 'FORM_CASH' | translate}}">
					</div>
					</div>
					<label for="inputCashEnabled" class="col-xs-3">{{ 'FORM_CASH_ENABLED' | translate}}</label>
					<div class="col-xs-3">
					<input type="checkbox" class="checkbox"
						id="inputCashEnabled" ng-model="inputCashEnabled"
						>
					</div>
			 </div>
				

				
				<div class="form-group">
				 <div ng-show="inputCreditEnabled">
					<label for="inputCredit" class="control-label col-xs-2">{{ 'FORM_CREDIT' | translate}}</label>
					<div class="col-xs-4">
						<input type="number" step='any' class="form-control" id="inputCredit"
							ng-model="inputCredit" placeholder="{{ 'FORM_CREDIT' | translate}}">
					</div>
				 </div>
				 <label for="inputCreditEnabled" class="col-xs-3">{{ 'FORM_CREDIT_ENABLED' | translate}}</label>
					<div class="col-xs-3">
					<input type="checkbox" class="checkbox"
						id="inputCreditEnabled" ng-model="inputCreditEnabled"
						>
					</div>
				</div>
				
				<div class="form-group">
				 <div ng-show="inputDebitEnabled">
					<label for="inputDebit" class="control-label col-xs-2">{{ 'FORM_DEBIT' | translate}}</label>
					<div class="col-xs-4">
						<input type="number" step='any' class="form-control" id="inputDebit"
							ng-model="inputDebit" placeholder="{{ 'FORM_DEBIT' | translate}}">
					</div>
				 </div>
				 <label for="inputDebitEnabled" class="col-xs-3">{{'FORM_DEBIT_ENABLED' | translate}}</label>
					<div class="col-xs-3">
					<input type="checkbox" class="checkbox"
						id="inputDebitEnabled" ng-model="inputDebitEnabled"
						>
					</div>
				</div>

				<div class="form-group col-xs-12 col-sm-6 col-lg-6">
					<label for="inputShift" class="control-label col-xs-3">{{
						'FORM_SHIFT' | translate}}</label>
					<div class="col-xs-6">

						<select ng-model="inputShift " tabindex="14"
							ng-options="shift as shift.name for shift in shifts"
							ng-change="selectShift(inputShift)" class="form-control">
							<option value="" label="{{ 'SELECT_OPTION' | translate}}"></option>
						</select>

					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-lg-6 pull-right"
					style="margin-top: 11px;" ng-hide="detailMode">
					<label for="inputNeto" class="control-label col-xs-3">Monto
						Neto</label>
					<div class="col-xs-6">
						<input type="number" class="form-control" id="inputNeto"
							ng-model="inputNeto" placeholder="Total Neto" tabindex="16">
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-lg-6"
					ng-hide="detailMode">
					<label for="inputIVA" class="control-label col-xs-3">Total
						IVA</label>
					<div class="col-xs-6">
						<input type="number" class="form-control" id="inputIVA"
							ng-model="inputIVA" placeholder="Total IVA" tabindex="15">
					</div>
				</div>
				<button type="submit" class="btn btn-success pull-right"
					ng-show="detailMode" ng-click="addElement()"
					style="margin-bottom: 10px;" tabindex="17">
					<span class="glyphicon glyphicon-plus-sign"></span> {{
					'FORM_ADDITEM' | translate}}
				</button>
				<button type="submit"
					class="btn btn-info pull-right col-xs-12 col-sm-12 col-lg-12"
					ng-hide="detailMode" ng-click="enableDetailMode()"
					style="margin-bottom: 10px;">
					<span class="glyphicon glyphicon-list-alt"></span> {{
					'FORM_ENABLE_DETAIL_MODE' | translate}}
				</button>
				<button type="submit"
					class="btn btn-warning pull-right col-xs-12 col-sm-12 col-lg-12"
					ng-show="detailMode" ng-click="disableDetailMode()"
					style="margin-bottom: 10px;">
					<span class="glyphicon glyphicon-pencil"></span> {{
					'FORM_DISABLE_DETAIL_MODE' | translate}}
				</button>


				<br />

				<table ng-table="tableParams" class="table" ng-show="detailMode">
					<tr ng-repeat="item in $data">
						<td data-title="tableColumns['item']" sortable="'name'"
							width="300"><span ng-if="!item.$edit">{{item.name}}</span>
							<div ng-if="item.$edit">
								<input class="form-control" type="text" ng-model="item.name" />
							</div></td>
						<td data-title="tableColumns['cant']" sortable="'quantity'"><span
							ng-if="!item.$edit">{{item.cant}}</span>
							<div ng-if="item.$edit">
								<input class="form-control" type="number" ng-model="item.cant" />
							</div></td>

						<td data-title="tableColumns['price']" width="100"
							sortable="'price'"><span ng-if="!item.$edit">{{item.price}}</span>
							<div ng-if="item.$edit">
								<input class="form-control" type="number" ng-model="item.price" />
							</div></td>

						<td data-title="tableColumns['iva']" width="200" sortable="'iva'"><span
							ng-if="!item.$edit">{{item.iva | percentage}}</span>
							<div ng-if="item.$edit">
								<input class="form-control" type="number" ng-model="item.iva" />
							</div></td>

						<td data-title="tableColumns['total']" width="200"
							sortable="'total'"><span>{{item.total | currency}}</span></td>
						<td data-title="tableColumns['actions']" width="200"><a
							ng-if="!item.$edit" href="" class="btn btn-default btn-xs"
							ng-click="item.$edit = true">{{'FORM_EDIT' | translate}}</a> <a
							ng-if="item.$edit" href="" class="btn btn-primary btn-xs"
							ng-click=" updateItem(item)">{{'FORM_SAVE' | translate}}</a> <a
							href="" class="btn btn-danger btn-xs" ng-click="removeItem(item)">{{'FORM_DELETE'
								| translate}}</a></td>
					</tr>
				</table>

				<div class="pull-left form-group col-xs-12 col-sm-6 col-lg-6"
					style="padding: 20px;">
					<label for="inputIIBB" class="control-label col-xs-3">IIBB</label>
					<div class="col-xs-6 ">
						<input type="number" class="form-control" id="inputIIBB"
							ng-model="inputIIBB" placeholder="IIBB" tabindex="18">
					</div>
				</div>

				<div class="pull-left form-group col-xs-12 col-sm-6 col-lg-6"
					style="padding: 20px;">
					<label for="inputExtraTax" class="control-label col-xs-3">impuestos
						extra</label>
					<div class="col-xs-6 ">
						<input type="number" class="form-control" id="inputExtraTax"
							ng-model="inputExtraTax" placeholder="Extras" tabindex="19">
					</div>
				</div>

				<div class="form-group col-xs-12 col-sm-12 col-lg-12">
					<label for="totalAmount" class="control-label col-xs-2"
						style="margin-top: 7px; font-size: large;">Neto: </label>
					<div class="jumbotron">
						<span
							style="font-size: large; padding: 50px; margin-bottom: 10px;">{{showTotalAmountNoTaxes()
							| currency}}</span>
					</div>
					<label for="totalAmount" class="control-label col-xs-2"
						style="margin-top: 7px; font-size: large;">Total Con IVA:
					</label>
					<div class="jumbotron">
						<span
							style="font-size: large; padding: 50px; margin-bottom: 10px;">{{showTotalAmount()
							| currency}}</span>
					</div>

				</div>

				<div class="form-group">
					<div class="col-xs-offset-2 col-xs-10">

						<button type="submit" class="btn btn-success" ng-show="true"
							ng-click="registerBill()" tabindex="20">{{
							'FORM_CONFIRM' | translate}}</button>

						<button type="submit" class="btn btn-success"
							ng-click="updateBill()" ng-show="modoEdicion()">{{
							'FORM_UPDATE' | translate}}</button>

						<a type="button" class="btn btn-default" ng-href="#cargarDatos">{{
							'FORM_CANCEL' | translate}}</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

