<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="jumbotron">
		<h4>{{'TITLE_PROVIDERS'| translate}}</h4>
	</div>

	<div class="container-fluid">

		<div class="bs-example">
			<form name="crudOperation" class="form-horizontal">

				<!--  Collapse provider/Client -->

				<div class="form-group col-xs-12 col-sm-6 col-lg-6">
					<label for="inputClientSellerId" class="control-label col-xs-3">Id</label>
					<div class="col-xs-6">
						<input type="text" class="form-control" id="inputClientSellerId"
							ng-model="inputClientSellerId" placeholder="ID" tabindex="1">
					</div>
				</div>

				<div class="form-group col-xs-12 col-sm-6 col-lg-6">
					<label for="inputClientSellerName" class="control-label col-xs-4"
						style="margin-left: 25px;">{{'FORM_NAME' | translate}}</label>
					<div class="col-xs-6">
						<input type="text" class="form-control" id="inputClientSeller"
							ng-model="inputClientSeller" placeholder="ENTERPRISE"
							tabindex="2">
					</div>
				</div>

				<div class="form-group col-xs-12 col-sm-6 col-lg-6">
					<label for="inputTradeName" class="control-label col-xs-3">{{'FORM_TRADE_NAME'
						| translate}}</label>
					<div class="col-xs-6">
						<input type="text" class="form-control" id="inputTradeName"
							ng-model="inputTradeName" placeholder="ENTERPRISE SRL"
							tabindex="3">
					</div>
				</div>

				<div class="pull-right form-group col-xs-12 col-sm-6 col-lg-6">
					<label for="inputCuit" class="control-label col-xs-3">CUIT</label>
					<div class="col-xs-6 ">
						<input type="number" ng-pattern="/^[0-9]+$/" class="form-control"
							id="inputCuit" ng-model="inputCuit" placeholder="CUIT"
							tabindex="4">
					</div>
				</div>

				<div class="pull-right form-group col-xs-12 col-sm-6 col-lg-6">
					<label for="inputPhone" class="control-label col-xs-3">{{'FORM_PHONE'
						| translate}}</label>
					<div class="col-xs-6 ">
						<input type="number" class="form-control" id="inputPhone"
							ng-model="inputPhone"
							placeholder="{{'FORM_PHONE' |
						translate}}" tabindex="6">
					</div>
				</div>

				<div class="form-group col-xs-12 co l-sm-6 col-lg-6">
					<label for="inputAddress" class="control-label col-xs-3">{{'FORM_ADDRESS'
						| translate}}</label>
					<div class="col-xs-6">
						<input type="text" style="width: 150%" class="form-control"
							id="inputAddress" ng-model="inputAddress"
							placeholder="{{'FORM_ADDRESS'
						| translate}}" tabindex="5">
					</div>
				</div>
		</div>
	</div>
</div>




<div class="form-group">
	<div class="col-xs-offset-2 col-xs-10">

		<button type="submit" class="btn btn-success" 
			ng-hide="editing()"
			ng-click="registerProvider()">{{ 'FORM_CONFIRM' |
			translate}}</button>

		<button type="submit" class="btn btn-success" ng-click="updateProvider()"
			ng-show="editing()">{{ 'FORM_UPDATE' | translate}}</button>

		<a type="button" class="btn btn-default" ng-href="#pyc">{{
			'FORM_CANCEL' | translate}}</a>
	</div>
</div>
</form>
</div>
</div>
</div>

