<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="jumbotron">
		<h4>{{title}}</h4>
	</div>

	<div class="container-fluid">

		<div class="bs-example">
			<form name="crudOperation" class="form-horizontal">

				
				<div class="form-group">
					<label for="inputDate" class="control-label col-xs-2">{{ 'FORM_DATE' | translate}}</label>
					<div class="col-xs-10">
						<input type="date" class="form-control" id="inputDate"
							ng-model="inputDate">
					</div>
				</div>

				<div class="form-group">
					<label for="selectCategory" class="control-label col-xs-2">{{ 'FORM_SELECT_CATEGORY' | translate}}</label>
					<div class="col-xs-10">
						<div class="form-inline">
							<div class="form-group">
								<select ng-model="categorySelected"
									ng-options="cat as cat.categoryName for cat in categories"
									ng-change="selectCategory(categorySelected)"
									class="form-control"
									style="width:200px;margin-left:15px;">
									<option value="" label="{{ 'SELECT_OPTION' | translate}}"></option>
									
								</select>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-info form control"
								style="padding:2px;margin-left:35px;"
									ng-click="dialogNewCategory()">{{ 'FORM_NEW_CATEGORY' | translate}}</button>
							</div>
						</div>


					</div>
				</div>

				<div class="form-group">
					<label for="selectSubCategory" class="control-label col-xs-2">{{ 'FORM_SELECT_SUBCATEGORY' | translate}}</label>
					<div class="col-xs-10">
						<div class="form-inline ">
							<div class="form-group">
							<select ng-model="subcategorySelected"
							ng-options="sub as sub.subcategoryName for sub in subCategories"
							ng-change="selectSubcategory(subcategorySelected)"
							class="form-control"
							style="width:200px;margin-left:15px;">
							<option value="" label="{{ 'SELECT_OPTION' | translate}}"></option>
						</select>
						</div>
							<div class="form-group">
							<button type="submit" class="btn btn-info form control"
								style="padding:2px;margin-left:35px;"
									ng-click="dialogNewSubcategory()">{{ 'FORM_NEW_SUBCATEGORY' | translate}}</button>
							
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="form-group">
					<label for="selectConcept" class="control-label col-xs-2">{{
						'FORM_SELECT_CONCEPT' | translate}}</label>
					<div class="col-xs-10">
						<div class="form-inline ">
							<div class="form-group">
								<select ng-model="conceptSelected"
									ng-options="con as con.conceptName for con in concepts"
									ng-change="selectConcept(conceptSelected)" class="form-control"
									style="width: 200px; margin-left: 15px;">
									<option value="" label="{{ 'SELECT_OPTION' | translate}}"></option>
								</select>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-info form control"
									style="padding: 2px; margin-left: 35px;"
									ng-click="dialogNewConcept()">{{ 'FORM_NEW_CONCEPT' |
									translate}}</button>

							</div>
						</div>

					</div>
				</div>

				<div class="form-group">
					<label for="selectPaymentType" class="control-label col-xs-2">{{ 'FORM_SELECT_PAYMENT_TYPE' | translate}}</label>
					<div class="col-xs-10">
						<select ng-model="paymentSelected"
							ng-options="ptype as ptype.name for ptype in paymentTypes"
							ng-change="selectPayment(paymentSelected)"
							class="form-control">
							<option value="" label="{{ 'SELECT_OPTION' | translate}}"></option>
						</select>
					</div>
				</div>
				
			
				
				<div class="form-group">
				<div ng-show="inputCashEnabled">
				
					<label for="inputCash" class="control-label col-xs-2">{{ 'FORM_CASH' | translate}}</label>
					<div class="col-xs-4">
						<input type="number" step='any'class="form-control" id="inputCash"
							ng-model="inputCash" placeholder="{{ 'FORM_CASH' | translate}}">
					</div>
					</div>
					<label for="inputCashEnabled" class="col-xs-3">{{ formCashEnabled}}</label>
					<div class="col-xs-3">
					<input type="checkbox" class="checkbox"
						id="inputCashEnabled" ng-model="inputCashEnabled"
						>
					</div>
			 </div>
				

				
				<div class="form-group">
				 <div ng-show="inputCreditEnabled">
					<label for="inputCredit" class="control-label col-xs-2">{{ 'FORM_CREDIT' | translate}}</label>
					<div class="col-xs-4">
						<input type="number" step='any' class="form-control" id="inputCredit"
							ng-model="inputCredit" placeholder="{{ 'FORM_CREDIT' | translate}}">
					</div>
				 </div>
				 <label for="inputCreditEnabled" class="col-xs-3">{{ formCreditEnabled}}</label>
					<div class="col-xs-3">
					<input type="checkbox" class="checkbox"
						id="inputCreditEnabled" ng-model="inputCreditEnabled"
						>
					</div>
				</div>
				
				<div class="form-group">
				 <div ng-show="inputDebitEnabled">
					<label for="inputDebit" class="control-label col-xs-2">{{ 'FORM_DEBIT' | translate}}</label>
					<div class="col-xs-4">
						<input type="number" step='any' class="form-control" id="inputDebit"
							ng-model="inputDebit" placeholder="{{ 'FORM_DEBIT' | translate}}">
					</div>
				 </div>
				 <label for="inputDebitEnabled" class="col-xs-3">{{formDebitEnabled}}</label>
					<div class="col-xs-3">
					<input type="checkbox" class="checkbox"
						id="inputDebitEnabled" ng-model="inputDebitEnabled"
						>
					</div>
				</div>
				
				
				<div class="form-group">
					<label for="shiftSelected" class="control-label col-xs-2">{{ 'FORM_SHIFT' | translate}}</label>
					<div class="col-xs-10">
						<select ng-model="shiftSelected"
							ng-options="shift as shift.name for shift in shifts"
							ng-change="selectShift(shiftSelected)"
							class="form-control">
							<option value="" label="{{ 'SELECT_OPTION' | translate}}"></option>
						</select>
					</div>
				</div>
				
				
				<div class="form-group">
					<div class="col-xs-offset-2 col-xs-10">

						<button type="submit" class="btn btn-success"
							ng-show="true" ng-click="registerOperation()">{{ 'FORM_CONFIRM' | translate}}</button>

						<button type="submit" class="btn btn-success"
							ng-click="updateOperation()" ng-show="modoEdicion()">{{ 'FORM_UPDATE' | translate}}</button>

						<a type="button" class="btn btn-default" ng-href="#cargarDatos">{{ 'FORM_CANCEL' | translate}}</a>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>

