<div class="col-sm-3 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<!-- 	<div class="jumbotron"> -->
<!-- 		<h4>{{ 'LOAD_DATA_SECTION' | translate}}</h4> -->
<!-- 	</div> -->
<!-- 	<div class="container-fluid"> -->
<!-- 		<h4><span class="glyphicon glyphicon-chevron-left"></span>{{ 'LOAD_DATA_SELECT' | translate}}</h4> -->
<!-- 	</div> -->

	<div class="jumbotron">
		<h4>{{ 'OPERATIONS_LIST_TITLE' | translate}}</h4>
	</div>
	
	<div>{{operaciones}}</div>
	
	<div class="table-responsive">

		<table ng-table="tableParams" class="table ng-table-responsive" show-filter="true">
			<tr ng-repeat="operacion in operaciones">
				<td data-title="tableColumns['date']">{{operacion.parsedDate}}</td>
				<td data-title="tableColumns['category']">{{operacion.category}}</td>
				<td data-title="tableColumns['subcategory']">{{operacion.subcategory}}</td>
				<td data-title="tableColumns['concept']">{{operacion.concept}}</td>
				<td data-title="tableColumns['shift']">{{operacion.shift}}</td>
				<td data-title="tableColumns['cash']">{{operacion.paymentTypes[0].amount}}</td>
				<td data-title="tableColumns['debit']">{{operacion.paymentTypes[1].amount}}</td>
				<td data-title="tableColumns['credit']">{{operacion.paymentTypes[2].amount}}</td>


				
				<td data-title="Total_Efectivo">{{operacion.shift}}</td>
				<td data-title="Total_CC">{{operacion.shift}}</td>
				<td data-title="Total_Banco">{{operacion.shift}}</td>
				

<!-- 				<td data-title="{{ 'SURNAME' | translate}}">{{usuario.apellido}}</td> -->
<!-- 				<td data-title="{{ 'PERMISSION_LEVELS' | translate}}">{{usuario.nivelDePermiso}}</td> -->
<!-- 				<td data-title="{{ 'ACTIONS' | translate}}"><button type="button" -->
<!-- 						class="btn btn-warning" -->
<!-- 						ng-click="prepararEditarUsuario(usuario.id)" -->
<!-- 						ng-show="{{m('actualizarUsuario')}}" -->
<!-- 						title="{{ 'EDIT_USER' | translate}}{{usuario.nickname}}">{{ 'EDIT' | translate}}</button> -->
<!-- 					<button type="button" class="btn btn-danger" -->
<!-- 						ng-show="{{m('borrarUsuario')}}" -->
<!-- 						ng-click="confirmacionBorrarUsuario(usuario.id, usuario.codigo)" -->
<!-- 						title="{{ 'DELETE_USER' | translate}} {{usuario.nickname}}">{{ 'DELETE' | translate}}</button></td> -->
			</tr>
		</table>

</div>
