<div class="col-sm-3 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="jumbotron">
		<h4>{{ 'OPERATIONS_LIST_TITLE' | translate}}</h4>
	</div>
	
<!-- 	<div>{{operaciones}}</div> -->
	
	<div class="table-responsive">

		<table ng-table="tableParams" class="table ng-table-responsive" show-filter="true">
			<tr ng-repeat="operacion in operaciones">
				<td data-title="tableColumns['date']">{{operacion.parsedDate}}</td>
				<td data-title="tableColumns['category']">{{operacion.category}}</td>
				<td data-title="tableColumns['subcategory']">{{operacion.subcategory}}</td>
				<td data-title="tableColumns['concept']">{{operacion.concept}}</td>
				<td data-title="tableColumns['shift']">{{operacion.shift}}</td>
				<td data-title="tableColumns['cash']">{{operacion.paymentTypes[0].amount}}</td>
				<td data-title="tableColumns['credit']">{{operacion.paymentTypes[1].amount}}</td>
				<td data-title="tableColumns['debit']">{{operacion.paymentTypes[2].amount}}</td>
				<td data-title="tableColumns['totalCash']">{{operacion.totalInPettyCash}}</td>
				<td data-title="tableColumns['totalBank']">{{operacion.totalInBank}}</td>
				<td data-title="tableColumns['available']">{{operacion.available}}</td>
				<td data-title="tableColumns['devengado']">{{operacion.devengado}}</td>
			</tr>
		</table>

</div>
