<div class="col-sm-3 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="jumbotron">
		<h4>{{ 'OPERATIONS_LIST_TITLE' | translate}}</h4>
	</div>

	<div class="table-responsive">

		<table ng-table="tableParams" class="table ng-table-responsive table-hover"
			show-filter="true">
			<tr ng-repeat="operacion in operaciones">
				<td data-title="tableColumns['date']"  >{{operacion.parsedDate}}</td>
				<td data-title="tableColumns['category']">{{operacion.category}}</td>
				<td data-title="tableColumns['subcategory']">{{operacion.subcategory}}</td>
				<td data-title="tableColumns['concept']">{{operacion.concept}}</td>
				<td data-title="tableColumns['shift']">{{operacion.shift}}</td>
				<td data-title="tableColumns['cash']">{{operacion.paymentTypes[0].amount}}</td>
				<td data-title="tableColumns['credit']">{{operacion.paymentTypes[1].amount}}</td>
				<td data-title="tableColumns['debit']">{{operacion.paymentTypes[2].amount}}</td>
				<td data-title="tableColumns['totalCash']">{{operacion.totalInPettyCash}}</td>
				<td data-title="tableColumns['totalBank']">{{operacion.totalInBank}}</td>
				<td data-title="tableColumns['available']">{{operacion.available}}</td>
				<td data-title="tableColumns['devengado']">{{operacion.devengado}}</td>
				<td data-title="tableColumns['devengada']">{{operacion.devengada}}</td>
			</tr>
		</table>


		<div>
			<button type="submit" class="btn btn-primary btn-lg" 
				style="float:right" ng-click="consolidateAccounts()">{{ 'CONSOLIDATE' | translate}}
			</button>
			<button class="btn btn-primary btn-lg" style="float:right ; background:#00CC00" data-container="body" data-toggle="popover" data-placement="left" data-content="{{ 'POPOVER_HELP' | translate}}">
				?
			</button>
		</div>
		
		<h3>{{ 'ACCOUNTS_STATE' | translate}}</h3>
		<div>
			<ul class="nav nav-pills ">
				<li class="list-group-item">{{ 'PETTYCASH_TOTAL' | translate}}      {{accounts[0].amount}}</li>
				<li class="list-group-item">{{ 'BANK_TOTAL' | translate}}           {{accounts[1].amount}}</li>
				<li class="list-group-item">{{ 'BANK_TOTAL_AVAILABLE' | translate}} {{accounts[1].available}}</li>
				<li class="list-group-item">{{ 'BANK_TOTAL_DEVENGADO' | translate}} {{accounts[1].devengado}}</li>
			</ul>
		</div>

	</div>