<div class="col-sm-3 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="jumbotron">
		<h4>{{ 'REPORTS_TITLE' | translate}}</h4>
	</div>
	
  <tabset justified="true">
    <tab heading="{{ 'CATEGORIES_DISTRIBUTION_TITLE' | translate}}"><div id="categoriesChart"  style=margin-left:220px></div></tab>
    
    
    <tab heading="{{ 'SHIFT_DISTRIBUTION_TITLE' | translate}}">
    	<tabset vertical="true" type="pills">
		 	<tab heading="{{ 'SHIFT_MORNING' | translate}}"><div id="shiftChartManana" style=margin-left:220px/></tab>
		 	<tab heading="{{ 'SHIFT_AFTERNOON' | translate}}"><div id="shiftChartTarde" style=margin-left:220px/></tab>
	 	 	<tab heading="{{ 'SHIFT_NIGHT' | translate}}"><div id="shiftChartNoche" style=margin-left:220px/></tab>
	 	 </tabset>
    </tab>
    
  </tabset>
	
	
</div>

